#bg{
    background-image: url(../images/bg1.jpg);
    background-size: cover;
}

#h-1 h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 60px;
    background-color:#212326;
    margin: 0%;
    padding: 1%;
}
#quote{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: black;
}

#endangered option{
    background-color:black;
}

body{
    background-color: #212326;
    color: white;
}
#header{
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 0%;
    padding: 1%;
}
.text-center{
    margin-top: 10%;
    color: black;
}

select{
    color: black;
    border: none;
    height: 35px;
    outline: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 30%;
}
.top{
    font-family:'Anton', sans-serif;
}