<body id="body">

        <h1>WILDLIFE TRACKER</h1>

    <div class="text-center">
        <h3 id="quote">People say that in life you need to make money or die poor, so in their deffence they kill animals and sell
        their products to the ouside wild. Well for me I would say it's stupid </h3>
        <h4>~ Ikua James ~</h4>
        <a href="/home" class="btn btn-success">Get Started</a>
</body>